/*//! ------------------------------- Global Css ------------------------------- */

/* html { font-size: 3vmin; } */


@media screen and (max-width: 2560px) {
		html{
			font-size:16px;
		}
	}
@media screen and (max-width: 1024px) {
	html{
		font-size:16px;
	}
}

@media screen and (max-width: 950px) { 
	html{
		font-size:14px;
	}
}


@media screen and (max-width: 650px) { 
	html{
		font-size:12px;
	}
}

@media screen and (max-width: 480px) { 
	html{
		font-size:10px;
	}
}	

*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}